@import 'mixins/fonts'
+fontFace('AvenirNextLTPro-Regular','../fonts/AvenirNextLTPro-Regular')
+fontFace('AvenirNextLTPro-Cn','../fonts/AvenirNextLTPro-Cn')
+fontFace('AvenirNextLTPro-Bold','../fonts/AvenirNextLTPro-Bold')
+fontFace('AvenirNextLTPro-Demi','../fonts/AvenirNextLTPro-Demi')

html
    overflow-x: hidden
    font-size: .85em
    +media-breakpoint-up(md)
        font-size: 1rem
*:not(span)
    font-family: 'AvenirNextLTPro-Regular'
strong
    font-family: 'AvenirNextLTPro-Demi'
h1, h2, h3, h4, h5, h6
    color: $inverted
    font-family: 'AvenirNextLTPro-Bold'
h1, h2
    font-variant: small-caps
.wrapper, .container
    p:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6), li
        +media-breakpoint-up(md)
            text-align: justify
    h2
        margin-bottom: 1.5rem
        padding: .5rem
        text-align: center
        background-color: rgba($brand-primary, 0.85)!important

footer
    p
        text-align: left!important

@import "components/social-menu"
@import "components/social-share"
@import "components/header"
@import "components/categories-menu"
@import "components/breadcrumbs"
@import "components/phone-cta"
@import "components/content-header"
@import "components/facilities"
@import "components/comments"
@import "components/blog-grid"
@import "components/blog-nav"
@import "components/equipo"
@import "components/contacto"
@import "components/img-half"
@import "components/testimonios"
@import "components/footer"
@import "components/cookies"

section
    margin-bottom: 2rem

.bg-white
    background-color: #fff
.bg-inverted
    background-color: $inverted

.pos-r
    position: relative

.overlay
    position: absolute!important
    top: 0!important
    bottom: 0!important
    left: 0!important
    right: 0!important
    z-index: -1

@for $i from 1 through 10
    .overlay-#{$i}
        opacity: .1 * $i
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

.mini-section
    &:not(:last-child)
        margin-bottom: 2rem
    &:first-child
        margin-top: 2rem


.card-columns
    .card
        margin-bottom: .75rem!important
        box-shadow: none!important

.card-deck
    margin-bottom: 1rem

.card-inverse
    color: rgba(255,255,255,.85)

.blockquote
    margin: 1rem 2rem!important
    border-left: .33rem solid rgba($brand-warning, .85)!important
    font-family: AvenirNextLTPro-Cn!important
    strong
        font-family: AvenirNextLTPro-Cn!important

.highlight
    font-family: AvenirNextLTPro-Demi
    text-align: center
    font-weight: 400
    padding: .5rem 1rem
    margin-bottom: 1rem
    font-variant: small-caps
    background-color: rgba($brand-info, 0.65)!important
    color: #fff
    strong
        font-family: AvenirNextLTPro-Bold

.jumbotron 
    padding: 2rem 0rem
    z-index: -5

+media-breakpoint-down(md) 
    .card-deck
        display: block
        width: 100%
        margin-bottom: .75rem
        table-layout: fixed
        border-spacing: 1.25rem 0
        .card 
            display: block
            margin-bottom: .75rem
            vertical-align: top
            &:not(:first-child) 
                margin-left: 0px
            &:not(:last-child) 
                margin-right: 0px

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated
    padding: 0!important

.elementor-widget-text-editor
    color: inherit!important

.gm-style-iw
    *
        color: #000!important
        line-height: initial!important
    a, a:hover
        color: $brand-primary!important

@media (min-width: 768px)
    section.elementor-element
        &:not(.reverse)
            & > .elementor-container > .elementor-row
                & > .elementor-column:not(:first-child) .elementor-column-wrap
                    margin-left: 15px!important
                & > .elementor-column:not(:last-child) .elementor-column-wrap
                    margin-right: 15px!important
        &.reverse
            & > .elementor-container > .elementor-row
                flex-direction: row-reverse
                & > .elementor-column:not(:first-child) .elementor-column-wrap
                    margin-right: 15px!important
                & > .elementor-column:not(:last-child) .elementor-column-wrap
                    margin-left: 15px!important

.foreground
    z-index: 9999

.zoomOutLeft, .zoomInLeft, .zoomOutRight, .zoomInRight
    animation-duration: .3s

.card, .wrapper h2, .wrapper img, .highlight, .map, main.container-main article
    box-shadow: 2px 2px 5px rgba(0,0,0,.23)!important

.entry-content
    img, figure
        &.alignright
            margin: 15px 0
            padding: 0!important
            width: 100%
            @media (min-width: 768px)
                margin: 0 0 15px 15px
                width: auto
                max-width: 50%
        &.alignleft
            margin: 15px 0
            padding: 0!important
            width: 100%
            @media (min-width: 768px)
                margin: 0 15px 15px 0
                width: auto
                max-width: 50%

.map img
    box-shadow: none!important

#ez-toc-container
    font-weight: 600
    border: none!important
    border-radius: 0!important
    box-shadow: 2px 2px 5px rgba(0,0,0,.23)!important
    p.ez-toc-title
        font-weight: 600

.entry-ratings
     height: 40px
     display: block
     img
        box-shadow: none!important
        margin-top: -4px

.pullquote-align-left 
    border-right: .33rem solid rgba($brand-warning, .85)!important

.pullquote-align-right
    border-left: .33rem solid rgba($brand-warning, .85)!important

.pullquote-align-full
    border-left: .33rem solid rgba($brand-warning, .85)!important

@media screen and (max-width: 768px) 
    .perfect-pullquote
        border-left: .33rem solid rgba($brand-warning, .85)!important

