.container-main, .container-category
  width: 100%
.container-category
  padding: 0

.article-wrapper
  position: relative
  float: left
  width: 100%
  font-size: .7rem
  +media-breakpoint-up(sm)
    font-size: 1rem
  &:before
    content: ""
    display: block
    padding-top: 70%
  header.entry-header h3
    font-size: 1.5rem
    +media-breakpoint-up(sm)
      font-size: 2rem
    font-weight: 600
  article
    overflow: hidden
    &:hover
      transform: scale(1.05, 1.05)
    transition: all .5s
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: .5rem
    padding: .75rem
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    .overlay
      img
        object-fit: cover
    time
      position: absolute
      bottom: 0
    .cat-links
      position: absolute
      bottom: 0
      right: 0
  .container
    padding: 0
    width: 100%
    height: 100%
    a
      position: relative
      z-index: 2
      color: #fff
      text-shadow: -1px 2px 0 rgba(0,0,0,.23)
      &:hover
        color: $brand_primary
        text-decoration: none


.container-main
  .article-wrapper
    +media-breakpoint-up(md)
      &:first-child
        width: 100%
      &:not(:first-child)
        width: 50%
        font-size: .7rem!important
        header.entry-header h3
          font-size: 1.5rem
    +media-breakpoint-up(lg)
      &:first-child
        width: 50%
      &:not(:first-child)
        width: 25%
        font-size: .5rem!important
        header.entry-header h3
          font-size: 1.25rem

.container-category
  .article-wrapper
    +media-breakpoint-up(md)
      width: 50%
      font-size: .7rem!important
      header.entry-header h3
        font-size: 1.5rem
    +media-breakpoint-up(lg)
      width: 50%
      font-size: .5rem!important
      header.entry-header h3
        font-size: 1.25rem


div[aria-label="Page Navigation"]
  display: flex
  ul.pagination
    margin-left: auto
    margin-right: auto
    margin-top: .5rem
    .page-link
      border: none
      border-radius: 0


.link-entry:before
  bottom: 0
  left: 0
  content: ""
  display: block
  height: 100%
  width: 100%
  position: absolute
  z-index: 1

.bg-gradient
  background: -moz-linear-gradient(top, rgba($brand-info,0.9) 0%, rgba($brand-info,0.6) 50%, rgba($brand-info,0.5) 100%)
  background: -webkit-linear-gradient(top, rgba($brand-info,0.9) 0%,rgba($brand-info,0.6) 50%,rgba($brand-info,0.5) 100%)
  background: linear-gradient(to bottom, rgba($brand-info,0.9) 0%,rgba($brand-info,0.6) 50%,rgba($brand-info,0.5) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2288caE6', endColorstr='#2288ca80',GradientType=0 )
  z-index: 0!important