#category-nav
	.nav-link
		font-family: 'AvenirNextLTPro-Bold'
	.dropdown-menu
		width: 250px

.navbar-inverse .navbar-nav
	.nav-link
		color: rgba(255,255,255,.7)
		&:hover
			color: rgba(255,255,255,.85)
	.active
		.nav-link
			color: rgba(255,255,255,1)

#categories-menu
	+media-breakpoint-up(sm)
		margin: auto