section.member
  img
    margin-bottom: 1rem
  +media-breakpoint-up(sm)
    [class^="float-"]
      max-width: 40%
      +media-breakpoint-up(md)
        max-width: 33%
    .float
      &-left
        padding-right: 1rem
      &-right
        padding-left: 1rem

figure
  img
    margin-top: 1rem
    margin-bottom: 1rem