footer
  padding-bottom: 2rem
  padding-top: 2rem
  *
    color: rgba(255,255,255,.85)!important
  h4
    font-variant: small-caps
  #categories-menu-footer
    padding-left: 0
    .menu-item
      display: block
      float: initial
      a
        display: block
  .map
    height: 65vh
    min-height: 250px
    +media-breakpoint-up(lg)
      max-height: 200px
      max-width: 250px
  .row > *
    margin-bottom: 1rem
