.testimonios
  .testimonio
    &:nth-child(1)
      .card
        background-color: #40A1DF
    &:nth-child(2)
      .card
        background-color: #1E79B4
    &:nth-child(3)
      .card
        background-color: #2A96DB
    &:nth-child(4)
      .card
        background-color: #175C89
    .card
      height: 100%
      border-radius: 0
      border: none
      .row
        margin: 0
  p
    margin-bottom: .5rem

.testimonio-name
  margin: 1.5em 0 1em 0
  &-name
    font-size: 1.2em
  &-name, &-designation, &-treatment
    text-align: center!important

.testimonio-img
  img
    +media-breakpoint-down(xs)
      margin: 0 calc(50% - 75px)
  position: relative
  margin: 1.5em auto 2em auto
  +media-breakpoint-up(md)
    margin: 1.5em 0 2em 0
  .testimonio-icon
    width: 3em
    height: 3em
    border-radius: 1.5em
    position: absolute
    left: calc(50% - 1.5em)
    bottom: -1.5em
    background-color: rgba(#fff, .85)
    color: $brand-primary
    i.fa
      width: 3em
      height: 3em
      line-height: 3em
      text-align: center
      margin: auto
      &:before
        font-size: 2em

.testimonio-text
  position: relative
  text-align: left
  &:before
    font-family: "FontAwesome"
    content: "\f10d"
    line-height: 1em
    position: absolute
    font-size: 4em
    z-index: 0
    opacity: .4
    left: 0
  p
    color: #fff
    z-index: 1
    margin-top: 1em
    margin-left: 0

.service
  margin-bottom: 1rem
  text-align: center
  .card
    position: relative
    overflow: hidden
    margin-bottom: 1rem
    border: none
    .overlay
      z-index: 0
      &.bg-gradient
        z-index: 2!important
      img
        z-index: 0
        object-fit: cover
        width: 100%
        height: 100%
    &:before
      content: ""
      display: block
      padding-top: 70%
    .card-img-overlay
      display: flex
      justify-content: center
      align-content: center
      flex-direction: column
      a
        font-weight: 600
        position: relative
        z-index: 2
        color: #fff
        text-shadow: -1px 2px 0 rgba(0,0,0,.23)
        &:hover
          color: $brand_primary
          text-decoration: none
        


.razones
  padding: 2rem 0
  .h5
    color: #fff!important
    text-align: center!important
    min-height: 2.2em
    display: flex
    align-items: center
    justify-content: center
  .number-icon
    text-align: center!important
    width: 3em
    margin: 1rem auto
    height: 3em
    line-height: 3em
    font-size: 2em
    background-color: rgba(255,255,255,.85)
    border-radius: 50%
    text-shadow: -1px 2px 0 rgba(0,0,0,.23)
    font-weight: 600
    color: $brand-primary
  .overlay
    img
      object-position: 0% 80%