.testimonios
  .testimonio
    &:nth-child(1)
      .card
        background-color: #40A1DF
    &:nth-child(2)
      .card
        background-color: #1E79B4
    &:nth-child(3)
      .card
        background-color: #2A96DB
    &:nth-child(4)
      .card
        background-color: #175C89
    .card
      height: 100%
      border-radius: 0
      border: none
      .row
        margin: 0
  p
    margin-bottom: .5rem

.testimonio-name
  margin: 1.5em 0 1em 0
  &-name
    font-size: 1.2em
  &-name, &-designation, &-treatment
    text-align: center!important

.testimonio-img
  img
    +media-breakpoint-down(xs)
      margin: 0 calc(50% - 75px)
  position: relative
  margin: 1.5em auto 2em auto
  +media-breakpoint-up(md)
    margin: 1.5em 0 2em 0
  .testimonio-icon
    width: 3em
    height: 3em
    border-radius: 1.5em
    position: absolute
    left: calc(50% - 1.5em)
    bottom: -1.5em
    background-color: rgba(#fff, .85)
    color: $brand-primary
    i.fa
      width: 3em
      height: 3em
      line-height: 3em
      text-align: center
      margin: auto
      &:before
        font-size: 2em

.testimonio-text
  position: relative
  text-align: left
  &:before
    font-family: "FontAwesome"
    content: "\f10d"
    line-height: 1em
    position: absolute
    font-size: 4em
    z-index: 0
    opacity: .4
    left: 0
  p
    color: #fff
    z-index: 1
    margin-top: 1em
    margin-left: 0

